
ul.selector {
    padding: 5px;
    border: 1px solid black;
    margin:0;
    display: inline-block;
}
ul.selector li {
    list-style-type: none;
    display: inline-block;
    margin-right: 5px;
}

ul.selector li:last-child {
    margin-right: 0;
}