<!DOCTYPE html>
<html lang="ca">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Conversions</title>
</head>

<body>


    <form method="post">
        Valor inicial: <input value="<%= valorInicial %>" name="valori" /><br>
        <hr>
        <select name="desde">
            <option value="km">km</option>
            <option value="millas">millas</option>
            <option value="metros">metros</option>
            <option value="yardas">yardas</option>
        </select>
        <select name="hacia">
            <option value="km">km</option>
            <option value="millas">millas</option>
            <option value="metros">metros</option>
            <option value="yardas">yardas</option>
        </select>
        <hr>
        <br><button>Enviar</button>
    </form>
    <br>
    <hr>
    <h3>Resultado: <%= resultado %></h3>


</body>

</html>