@import url('https://fonts.googleapis.com/css?family=Blinker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow:300|Blinker&display=swap');

body {
    padding: 50px;
    background-color: beige;
}


div.moto img {
    width: 200px;
    border: 1px solid grey;
    padding: 10px;
    background-color: white;

}

div.moto h1 {
    font-family: 'Blinker', sans-serif;
    font-size: 30px;
    border-bottom: 3px solid red;
}

div.moto p {
    font-family: 'Barlow', sans-serif;
}

div.moto {
    margin-bottom: 40px;
}

ul.nav li {
    display: inline;
    margin-right: 20px;
    font-family: 'Blinker', sans-serif;
    font-size: 15px;
}

ul.nav li:last-child {
    margin-right: 0;
}

ul.nav {
    text-align: right;
}