<!doctype html>
<html lang="ca">
  <head>
    <title>Motos</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- React  -->

    <script src="https://unpkg.com/react@15/dist/react.min.js"> </script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div id="root"></div>
    <script type="text/babel">

        const Moto = (props) => {
            return <tr><td>{props.moto.model}</td><td>{props.moto.km}</td><td>{props.moto.cc}</td><td>{props.moto.any}</td></tr>;
        }
        class Main extends React.Component {
            
            constructor(props){
                super(props);
                this.state = {
                    motos: [{marca: "nomoto"}], 
                    marca: "HONDA",
                    marques: ["HONDA", "YAMAHA", "PIAGGIO", "SUZUKI"]
                }
                this.handleChange = this.handleChange.bind(this);
            }

            handleChange(event) {
                this.setState({marca: event.target.value});
            }

            componentDidMount(){
                let url = "http://192.168.1.111:3000/motos";
                fetch(url)
                .then(data => data.json())
                .then(motos => this.setState({motos}))
                .catch(err => console.log(err));

            }
            
            render() {
                let i = 1;
                let motos = this.state.motos.filter(el => el.marca===this.state.marca).map(el => <Moto key={i++} moto={el} />);
                let opcionsSelect = this.state.marques.map(el => <option key={i++} value={el}>{el}</option>);

                return (<div className="container" style={{paddingTop: "50px"}}>
                    <p>Selecciona Marca: &nbsp;&nbsp;
                    <select  value={this.state.marca} onChange={this.handleChange}>
                        {opcionsSelect}
                    </select>
                    </p>
                    <table className="table">
                    <thead>
                        <tr><th>Model</th><th>kms</th><th>cm3</th><th>Any</th></tr>
                        </thead>
                        <tbody>
                            {motos}
                            </tbody>
                    </table>
                </div>);
            }
        }

        ReactDOM.render(
        <Main  />, 
        document.getElementById("root")
        );
    </script>
 
</body>
</html>
