<!DOCTYPE html>

<html>

<head>
    <title>Llista de coses a fer</title>
    <style>
        a {
            text-decoration: none;
            color: red;
        }

        ul {
            list-style-type: none;
        }

        h2 {
            color: red;
        }
    </style>
</head>

<body>
    <h1>Llista de coses a fer:</h1>
    <h2><%= prueba %></h2>
    <ul>
        <% todolist.forEach(function(todo, index) { %>
        <li><a href="/todo/delete/<%= index %>">X</a> <%= todo %></li>
        <% }); %>
    </ul>

    <form action="/todo/add/" method="post">
        <p>
            <label for="novatasca">Què he de fer?</label>
            <input type="text" name="novatasca" id="novatasca" autofocus />
            <input type="submit" />
        </p>
    </form>
</body>

</html>